<h1>All Contacts</h1>
<ul>
<% @@rolodex.contacts.each do |contact| %>
Contact #<%= contact.id %>
<br>Name: <%= contact.first_name %> <%= contact.last_name %></li>
<br>E-Mail: <%= contact.email%></li>
<br>Notes: <%=contact.note%></li>
<br> --- 
<br>
<% end %>
</ul>